.blockBtn {
    width: 100%;
    margin: 50px 15px 50px;
}

.buttonMore {
    font-size: 25px;
    color: white;
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0 auto;
    background: #4E75FF;
    transition: background .5s;
}

.buttonMore:hover {
    background: #6C8CFF;
}

.showLoadMoreButton {
    display: block;
}

.hideLoadMoreButton {
    display: none;
}